.row{
    height: 150px;
}

.box{
    height: 150px;
    background-color: #ffc0cb;
}

.box>div{
    height: 150px;
    border: 1px solid black;
}

.box-nested{
    padding: 10px;
}

.box-nested>div{
    background-color: #f07f80;
    border: 1px solid white;
}