.box{
    height: 150px;;
}

.box>div{
    line-height: 150px;
    border: 1px solid black;
    background-color: #ffc0cb;
}

.box-nested{
    padding: 10px;
}

.box-nested>div{
    border: 1px solid white;
    background-color: #f07f80;
}